# MongoDB Configuration
HOST = "your mongodb host"
DATABASE = "your mongodb database"
COLLECTION = "your mongodb collection"

# Redis Configuration
REDIS_HOST = "your redis host"
REDIS_PORT = "your redis port"

# Ollama LLM Configuration
OLLAMA_HOST = "your ollama host"
OLLAMA_MODEL = "your ollama model"